body{
    background: linear-gradient(to right, #f7f7f7 0%,#e7e7e8 50%,#f3f3f3 100%)
}

.order-wrapper{
    margin-bottom: 1em;
    background: #fff;
}

.order-header{
    background: #fff;
}

.order-date, .order-time{
    white-space: nowrap;
}

.order-day{
    font-size: 30px;
    font-weight: 600;
    padding-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.order-month-year, .order-schedule, .order-departure-duraction, .order-success, .order-delay, .order-full-time-duraction{
    font-size: 12px;
    padding: .2em;
}

span{
    display: block;
}

/* Контент наряда */
.order-body{
    background: #fff;
}

.order-success > i{
    color: rgb(34, 199, 19);
}

.order-delay > i{
    color: rgb(238, 115, 15);
}

.order-table td, .order-table th{
    font-size: 14px;
    border: none;
    padding: 0.5rem;
}

.order-table-performers, .order-button-font-size, .order-table-font-size{
    font-size: 14px !important;
}

.order-table-font-size{
    height: 21px;
}

.order-hidden-text{
    height: 21px;
    overflow-y: hidden;
    margin: 0;
}

.order-hidden-text-show{
    height: auto !important;
}

.pb-0{
    padding-bottom: 0 !important;
}

.order-comment{
    font-size: 13px !important;
}

.px-2{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.py-0{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.order-hidden-comment{
    height: 18px;
    font-size: 12px;
    cursor: pointer;
}

.order-col-more{
    padding: 0 5px;
}

.order-more-info{
    height: 100%;
    font-size: 24px;
    margin: 0 auto;
}

/*Наряды обслуживание сети*/
.order-service-network{
    padding: 2.5px;
    text-align: center;
    cursor: pointer; 
    font-size: 14px;
    color: #545454;
}

.order-service-network:hover{
    color: #545454;
    text-decoration: none;
}

.order-service-network-address{
    font-size: 24px;
}