body{
    background: #fff;
    color: #545454;
    overflow-x: hidden;
}

#filter > label{
    background: #fff;
}

#filter{
    background: #FFF;
    width: 320px;
}

.filter--contener{
    max-width: 720px;
    margin: 0 auto;
}

.no-pd{
    padding: 0;
}

.form-control{
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field--search{
    position: relative;
}

.search--filt{
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
}

.search{
    padding-left: 30px;
}

.btn-custom{
    margin: 20px;
}

.btn-no-bg{
    background: transparent;
    border: none;
    text-align: center;
    line-height: 1.9;
    font-size: 20px;
    cursor: pointer;
}

.nav-link{
    color: #545454;
    padding: 0 1rem;
    line-height: 3;
}

.filter-cl{
    background: transparent;
    right: -720px;
    top: 100px;
    transition: all .3s;
    position: absolute;
    z-index: 15;
}

.filt{
    margin-top: 1.5em !important;
    width: 280px;
    margin: 0 auto;
    position: relative;
}

.width-select{
    width: 100% !important;
    z-index: 5;
}

.inp-width{
    width: 25%;
    text-align: center;
}

.dropdown-menu{
    width: 150%;
}

.dropdown-item.active, .dropdown-item:active{
    background: transparent;
    color: #545454;
}

.dropdown-menu.show{
    transform: translate3d(-50px, 42px, 0px) !important;
}

.dropdown-menu-title{
    padding-left: 10px;
    line-height: 3;
    float: left;
    width: 60%;
}

.dropdown-menu-item{
    font-size: 12px;
}

.filter-oppen{
    right: 0px;
}

.outlined-text{
    position: absolute;
    z-index: 1;
    left: 10px;
    top: -2px;
    transition: all .6s;
    font-size: 18px;
}

.outlined-text-click{
    top: -18px;
    padding: 0 2.5px;
    font-size: 12px;
    background: #fff;
}

.wrapper{
    overflow-x: hidden;
}

.nav-link{
    border-radius: 0 !important;
}

@media(max-width: 375px){
    .dropdown-toggle::after{
        content: none;
    }
}