body{
    background: #ececec;
    color: #545454;
    overflow-x: hidden; 
}

#filter--order{ /* Для постановки максимальной ширины  */
    max-width: 360px;
    margin: 0 auto;
    background: #fff;
}

.filter--wrapper{ /* Для постановки максимальной ширины внутри #filter--order  */
    max-width: 320px;
    margin: 0 auto;
}

.filter--name{
    text-align: left;
    color: #545454;
    padding-left: .25em;
}

.no--int--filter{
    margin-left: .5em;
}

.form-control{
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.no-dot{
    list-style: none;
    padding-top: 1em;
}

.filter--border{
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 1em;
}





/* desct */
#filter--desct{
    position: relative;
}

.wrapper--filter--desct{
    position: absolute;
    right: -720px;
    max-width: 720px;
    background: #fff;
    height: 100vh;
    width: 100%;
    transition: all .2s;
}

.nav-link{
    color: #545454;
}

.nav-link:hover{
    color: #545454;
}

.center{
    text-align: center;
    margin-bottom: .5em;
    padding: .5em;
}

.border-sect, .border-sect-two{
    border-bottom: 1px solid #ececec;
    padding-bottom: 1em;
    margin: 0 10px;
    border-radius: 4px;
}

.width-select{
    width: 100%;
}

.btn-custom{
    margin-left: .5em;
}

.filter-open{
    right: 0;
}

.icon-filter{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 15;
}